.list-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80%;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  width: 50%;
  z-index: 1000;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.to-email{
  margin-bottom: 10px;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
  display: block;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.buttonDelete{
  width: 100px;
  background-color: #007bff!important;
  margin-left: 10px;
}